.input {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    min-width: 360px;
    height: 40px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid rgba(225, 227, 230, 1);
    gap: 8px;
    color: rgba(27, 31, 35, 1)
}
.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(153, 159, 166, 1);
    opacity: 1; /* Firefox */
}

.input:hover {
    border-color: rgba(255, 85, 0, 1);
}

.input:focus {
    outline: none !important;
    border-color: rgba(255, 85, 0, 1);
}